.slides > article {
    background-image: url("dim_corner_logo.png");
    background-position: bottom right;
    background-repeat: no-repeat;
}

table.docutils td {
    border: 0px;
    padding-bottom: 1em;
}